.user-switch-modal {
}
.select-repo-modal {
}

.create-session-select {
}
.load-session-input {
}
.editable-content:empty::before {
  content: "Enter your message here. You can use @ to show files to Atlas.";
  color: gray;
  pointer-events: none;
}
.textareaBtn {
}

.typebtn {
}
